html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f3b5caa7;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: rgb(138, 138, 138);
}
.top-header {
  position: fixed;
  width: 100%;
  height: 10vh;
  background: rgba(255, 255, 255, 0.384); /* estilo Sony */
  display: flex;
  align-items: center;
  z-index: 1000;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 5%;
  height: 100%;
}
.logo a {
  width: 100%;
  height: 100%;
}

.menu a {
  color: rgb(138, 138, 138);
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  text-transform: uppercase;
}
.menu a:hover {
  color: #cbbcf6;
}
.mobile-social {
  display: none;
}

.social {
  display: flex;
  gap: 30%;
  list-style: none;
  text-align: center;
  justify-content: center;
  margin-right: 5%;
}
.social a {
  color: rgb(138, 138, 138);
  font-size: xx-large;
}
#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  font-size: 32px;
  padding: 20px;
  cursor: pointer;
  color: rgb(138, 138, 138);
}
.container {
  margin: 0 auto;
}
.banner {
  background-color: #f3b5caa7;
  height: 90vh;
  padding-top: 10vh;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  position: relative;
}
.banner-right {
  height: 100%;
  width: 100%;
}
.photobanner {
  background-image: url(img/codigo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 100%;
  margin-left: 5%;
}
.me {
  background-image: url(img/yo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25%;
  height: 70%;
  position: absolute;
  top: 13%;
  left: 30%;
}
.nameposition {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.name {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #fcfcfc;
  letter-spacing: 10px;
  font-size: clamp(40px, 6vw, 80px);
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: left;
}
.i {
  animation: change 5s infinite;
}
.dam {
  text-transform: uppercase;
  line-height: 1.5;
  font-size: clamp(10px, 6vw, 20px);
  text-align: left;
  margin-right: 4%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes change {
  50% {
    font-family: "Rubik Maze", system-ui;
    font-weight: 400;
    font-style: normal;
  }
}
.aboutme {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
}
#aboutme {
  scroll-margin-top: 20px;
}

.aboutmetextcontainer {
  width: 60%;
}
.title {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  color: #fcfcfc;
  font-size: clamp(30px, 6vw, 40px);
  margin-left: 5%;
}

.aboutmep {
  width: 100%;
  margin: 2% 0% 3% 5%;
  font-size: clamp(20px, 6vw, 15px);
  text-align: justify;
}
.img-aboutme {
  background-image: url(img/Copilot_20260504_130744.png);
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  max-width: 1200px;
  height: 90vh;
  margin-left: 2%;
  width: 70%;
}
.skills {
  background-color: #f3b5caa7;
  padding: 5%;
}
#skills h3 {
  margin-left: 2%;
  margin-bottom: 3%;
}
.icons {
  margin: 2%;
  font-size: clamp(40px, 6vw, 120px);
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  align-items: center;
  gap: 5%;
}
.icon p {
  font-size: clamp(10px, 6vw, 20px);
  color: rgb(138, 138, 138);
  text-align: center;
  margin-top: 3%;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

@media (width <= 768px) {
  html,
  body {
    overflow-x: hidden;
  }

  /* Mostrar hamburguesa */
  .hamburger {
    display: inline-block;
  }

  /* Ocultar menú por defecto */
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.736);
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
    gap: 20px;
  }
  .social {
    display: none;
  }
  /* Redes dentro del menú en móvil */
  .mobile-social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    list-style: none;
  }

  .mobile-social a {
    font-size: 28px;
  }

  /* Mostrar menú cuando el checkbox está activado */
  #menu-toggle:checked + .hamburger + .menu {
    display: flex;
  }
  .logo {
    /* padding-left: 15px; */
    padding: 3%;
    margin: 5%;
    height: 70%;
  }
  .banner {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .photobanner {
    width: 100%;
    height: 50vh;
    margin: 0;
  }

  .me {
    width: 50%;
    height: 30%;
    left: 25%;
  }

  .nameposition {
    display: inline-block;
    width: 100%;
    height: 50%;
    margin-top: 5%;
  }
  .name {
    justify-content: center;
    align-items: center;
  }
  .dam {
    margin-top: 10%;
    text-align: center;
  }
  .aboutme {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-top: 10vh;
    align-items: center;
    margin-bottom: 0%;
  }
  .aboutmetextcontainer {
    width: 100%;
  }
  .aboutmep {
    margin: 5%;
    margin-bottom: 10%;
    width: 85%;
  }
  .aboutmep:last-child {
    margin-bottom: 0;
  }
  .img-aboutme {
    width: 100%;
    height: 50vh;
  }
  .skills {
    padding-bottom: 20vh; /* o 5vh si lo quieres más compacto */
  }

  .icons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
