html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}

body {
  /* background: black; */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: rgb(138, 138, 138);
}
.top-header {
  position: fixed;
  width: 100%;
  height: 10vh;
  background: rgba(255, 255, 255, 0.384); /* estilo Sony */
  display: flex;
  align-items: center;
  z-index: 1000;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 5%;
  height: 100%;
}
.logo a {
  width: 100%;
  height: 100%;
}

.menu a {
  color: rgb(138, 138, 138);
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  text-transform: uppercase;
}
.menu a:hover {
  color: #cbbcf6;
}
.mobile-social {
  display: none;
}

.social {
  display: flex;
  gap: 30%;
  list-style: none;
  text-align: center;
  justify-content: center;
  margin-right: 5%;
}
.social a {
  color: rgb(138, 138, 138);
  font-size: xx-large;
}
#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  font-size: 32px;
  padding: 20px;
  cursor: pointer;
  color: rgb(138, 138, 138);
}

.banner {
  background-color: #f3b5caa7;
  height: 90vh;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-right {
  height: 100%;
  width: 75%;
  position: relative;
}
.photobanner {
  background-image: url(img/fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 100%;
  margin-left: 10%;
}
.me {
  background-image: url(img/yo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 40%;
}
.presentation {
  margin: 5%;
  margin-left: 0;
}
.name {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #fcfcfc;
  letter-spacing: 10px;
  font-size: clamp(40px, 6vw, 80px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.i {
  animation: change 5s infinite;
}
@keyframes change {
  50% {
    font-family: "Rubik Maze", system-ui;
    font-weight: 400;
    font-style: normal;
  }
}
@media (width <= 768px) {
  /* Mostrar hamburguesa */
  .hamburger {
    display: inline-block;
  }

  /* Ocultar menú por defecto */
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.736);
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
    gap: 20px;
  }
  .social {
    display: none;
  }
  /* Redes dentro del menú en móvil */
  .mobile-social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    list-style: none;
  }

  .mobile-social a {
    font-size: 28px;
  }

  /* Mostrar menú cuando el checkbox está activado */
  #menu-toggle:checked + .hamburger + .menu {
    display: flex;
  }
  .logo {
    /* padding-left: 15px; */
    padding: 3%;
    margin: 5%;
    height: 70%;
  }
  .banner {
    display: block;
  }
  .banner-right {
    height: 60%;
    width: 100%;
    position: relative;
  }
  .me {
    width: 50%;
    height: 80%;
  }
  .presentation {
    margin: 5%;
  }
}
